@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: OpenSans_Light;
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: OpenSans_SemiBold;
    src: url('../fonts/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: OpenSans_Bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}
body{
    font-family: OpenSans;
    color:#333;
}
a{
    text-decoration:none !important;
}
.header{
    height:75px;
    background-color:#fff;
}
.logo{
    margin-top:10px;
}
.header_navigation{
    float:right;
    width:auto;
    padding:0;
    margin:0;
    margin-top:22.5px;
}
.header_navigation li{
    list-style:none;
    float:left;
}
.header_navigation li a{
    /*line-height: 75px; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    text-transform: capitalize;
    font-size: 17px;
    color: #333;
    margin-left: 20px;
    /* border: 1px solid red; */
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border-radius:4px;
}
.header_navigation li a:hover{
    color:#ef7336;
}
.header_navigation li a.active_btn{
    color:#fff;
    background-color:#ef7336;
}
.header_navigation li a.login_link{
    background-image: url('../images/login_icon.jpg');
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left;
}
.top_banner_section{
}
.top_banner_section img{
    width:100%;
    height:auto;
}

.home_section_heading{
    margin-top: 0px;
    margin-bottom:15px;
    font-size: 30px;
    font-family: OpenSans_Bold;
    letter-spacing: 0px;
    text-transform: uppercase;
}
.home_section_heading span{
    color:#f07336;
}
.heading_seprator{
    /*margin-bottom:30px;*/
}
.heading_seprator span{
    display: inline-block;
    width: 150px;
    height: 1px;
    background-color: #ddd;
    margin-bottom: 20px;
}

/* upcoming evets homme */

.upcoming_events{
    padding-top:30px;
    padding-bottom:30px;
}

.upcoming_events_items{

}
.upcoming_item_container{
    box-shadow:0px 0px 15px #ddd;
    margin-bottom:30px;
    transition: all 0.4s ease;
}
.upcoming_item_container:hover{
    transform:scale(1.04);
}
.upcoming_item_image{
    overflow:hidden;
}
.upcoming_item_image img{
    width: 100%;
    height:auto;
    -webkit-transition: all 0.7s ease;
    /*transition: all 0.7s ease;*/
}
/*.upcoming_item_image img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}*/
.upcoming_item_info{
    padding:20px;
    position:relative;

}
.event_type_icon{
    position: absolute;
    top: -30px;
    right: 15px;
}
.uc_event_name a{
    color:#f1763a;
    font-size: 18px;
    font-family: OpenSans_Semibold;
}
.uc_event_date{
    color:#444444;
    font-size: 14px;
    font-family: OpenSans_SemiBold;
}
.uc_event_link{
    margin-bottom:0px;
}
.uc_event_link a{
    color:#444444;
    font-size: 14px;
    font-family: OpenSans_SemiBold;
    display:inline-block;
    width:100px;
    line-height: 30px;
    border:1px solid #444444;
    border-radius:4px;
    text-align: center;
    margin-top:5px;
}
.uc_event_link a:hover{
    background-color: #f1763a;
    color: #fff;
    border: 1px solid #f1763a;
}

.home_storeis_outer{
    background-color:#f5f5f5;
    padding-top:30px;
    padding-bottom:30px;
}
.home_storeis_outer .upcoming_item_info{
    background-color:#fff;
    background-image:none;
}
.home_storeis_outer .media-body p, .home_storeis_outer .media-heading span{
    font-family: OpenSans;
    color:#444444;
    font-size:14px;
}
.home_storeis_outer .media-heading{
    color:#0b0b0b;
    font-size:14px;
    font-family: OpenSans_Bold;
}

.home_categories_secton{
    padding-top:30px;
    padding-bottom:30px;
    max-width:990px;
}
.cat_left_item{
    border:1px solid #ddd;
    background-color:#f5f5f5;
    margin-bottom:20px;
    min-height:175px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-size: 26px;
    font-family: OpenSans_Semibold;
    color: #fff;
    text-transform: capitalize;
}
.cat_left_item p{
    margin-top:65px;
}
.cat_right_item1{
    border:1px solid #ddd;
    background-color:#f5f5f5;
    margin-bottom:21px;
    min-height:272px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 26px;
    font-family: OpenSans_Semibold;
    color: #fff;
    text-transform: capitalize;

}
.cat_right_item1 p{
    margin-top:85px;
}
.cat_right_item2{
    border:1px solid #ddd;
    background-color:#f5f5f5;
    min-height:272px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 26px;
    font-family: OpenSans_Semibold;
    color: #fff;
    text-transform: capitalize;

}
.cat_right_item2 p{
    margin-top:60px;
}
.f_padding_right{
    padding-right:5px;
}

.left_cat1{
    background-image:url('../images/left_cat1.jpg');
}
.left_cat2{
    background-image:url('../images/left_cat2.jpg');
}
.left_cat3{
    background-image:url('../images/left_cat3.jpg');
}
.left_cat4{
    background-image:url('../images/left_cat4.jpg');
}
.left_cat5{
    background-image:url('../images/left_cat5.jpg');
}
.right_cat1{
    background-image:url('../images/right_cat1.jpg');
}
.right_cat2{
    background-image:url('../images/right_cat2.jpg');
}

.home_seeall_cat_link{

    display: inline-block;
    background-color: #eb7a40;
    width: 220px;
    color: #fff !important;
    line-height: 45px;
    border-radius: 4px;
    font-size: 16px;
    font-family: OpenSans_Semibold;
    letter-spacing: .3px;
    margin-top:15px;
}
.home_more_button{
    padding-top:30px;
    padding-bottom:30px;
    background-color:#f0f0f0;
}
.home_more_button a{
    border:1px solid red;
    display:inline-block;
    width:200px;
    line-height:44px;
    font-family: OpenSans_Semibold;
    font-size:16px;
    text-transform:uppercase;
    color:#fff !important;
    letter-spacing:.3px;
    margin-left:20px;
    margin-right:20px;
    border-radius:4px;
}
.home_more_button a.orange_btn{
    border:1px solid #ff6f34;
    background-color:#ff6f34;
}
.home_more_button a.black_btn{
    border:1px solid #3d3f4b;
    background-color:#3d3f4b;
}
.home_newsletter{
    padding-top:45px;
    padding-bottom:30px;
    background-color:#ff6f34;
}
.home_newsletter .container{
    max-width:940px;
}
.home_newsletter h3{
    margin:0px;
    color:#fff;
    font-family: OpenSans_bold;
    font-size:30px;
    letter-spacing:.3px;
    text-transform:uppercase;
    position: relative;
    top: -15px;
}
.home_newsletter small{
    display:inline-block;
    width:100%;
    color:#fff;
    font-family: OpenSans;
    font-size:17px;
    text-transform:uppercase;
    letter-spacing:.3px;
}
.home_newsletter .input-group .form-control {
    height: 50px;
    border-color: #fff;
    box-shadow: none;
}
.home_newsletter .input-group .btn{
    height: 50px;
    border: 1px solid #3d3f4b;
    background-color:#3d3f4b;
    color:#fff;
    font-family: OpenSans_Semibold;
    font-size:19px;
    letter-spacing:.3px;
}
.footer{
    background-color: #2f3942;
    display: inline-block;
    width: 100%;
}
.footer .container{
    margin-top:60px;
    margin-bottom:60px;
    color:#fff;
    max-width:1080px;
}
.footer_logo{
    width:auto;
    max-width:190px;
}
.footer_headings{
    font-size: 18px;
    text-transform: uppercase;
    font-family: OpenSans_Semibold;
    margin-top: 0px;
    border-bottom: 1px solid #ff6f34;
    margin-bottom: 25px;
    padding-bottom: 15px;
    width: auto;
    display: inline-block;
}
.footer ul{
    padding:0;
    margin:0;
}
.footer ul li{
    list-style:none;
    margin-bottom:10px;
}
.footer ul li a{
    font-size:16px;
    color:#cccccc;
}
.footer ul li a:hover{
    color:#fff;
}
.company_info_footer{
    font-size:16px;
    color:#cccccc;
    margin-top:20px;
    padding-right:20px;
}
.footer_address li{
    padding-left: 45px;
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom:15px !important;
}
.footer_address li.add_icon{
    background-image: url(../images/add_location.jpg);
}
.footer_address li.phone_icon{
    background-image: url(../images/add_phone.jpg);
}
.footer_address li.mail_icon{
    background-image: url(../images/add_email.jpg);
}
.footer_social_icons{
    margin-bottom:25px !important;
}
.footer .container-fluid{
    background-color: #283139;
    color: #fff;
    padding-top:20px;
    padding-bottom:20px;
}
.footer .container-fluid p{
    margin-bottom:0px;
    font-family: OpenSans;
    font-size:16px;
    letter-spacing:.3px;
}
.footer .container-fluid p span{
    color:#ff6f34;
}

/* search */
.search_first_section{
    background-color:rgba(255,111,52,.8);
}
.home_search_outer{
    max-width: 1030px;
    margin-top: -103px;
    position: relative;
    z-index: 1;
}
.home_search_outer form{
    padding:30px;
}
.home_search_outer .frm_event_name{
    width:31%;
}
.home_search_outer .frm_event_name input{
    width:100%;
    border: 1px solid #f9f9f9;
    box-shadow: none;
    outline: none;
    border-radius: 2px;
    height: 42px;
    font-size:18px;
    font-family: OpenSans;
    background-color:#f9f9f9;
    background-image: url('../images/event_icon.jpg');
    background-repeat: no-repeat;
    background-position: 12px;
    padding-left: 45px;
}

.home_search_outer .frm_date{
    width:23%;
    padding-left:15px;
    padding-right:15px;
}
.home_search_outer .frm_date input{
    width:100%;
    border: 1px solid #f9f9f9;
    box-shadow: none;
    outline: none;
    border-radius: 2px;
    height: 42px;
    font-size:18px;
    font-family: OpenSans;
    background-color:#f9f9f9;
    background-image: url('../images/date_icon.jpg');
    background-repeat: no-repeat;
    background-position: 12px;
    padding-left: 45px;
}
.home_search_outer .frm_location{
    width:27%;
    padding-right:15px;
}
.home_search_outer .frm_location input{
    width:100%;
    border: 1px solid #f9f9f9;
    box-shadow: none;
    outline: none;
    border-radius: 2px;
    height: 42px;
    font-size:18px;
    font-family: OpenSans;
    background-color:#f9f9f9;
    background-image: url('../images/loc_icon.jpg');
    background-repeat: no-repeat;
    background-position: 12px;
    padding-left: 45px;
}
.home_search_outer .frm_button, .home_search_outer .frm_button:hover, .home_search_outer .frm_button:active, .home_search_outer .frm_button:focus{
    width:17%;
    width: 17%;
    box-shadow: none;
    outline: none;
    border-radius: 2px;
    height: 42px;
    font-size: 18px;
    font-family: OpenSans_Semibold;
    border: 1px solid #3b3c41 !important;
    background-color: #3b3c41 !important;
    color: #fff !important;
}
.search_bottom_section{
    background-color:#f7f7f7;
}
.search_bottom_section ul{
    margin:0px;
    padding:25px;
}
.search_bottom_section ul li{
    list-style:none;
    display:inline-block;
    margin-left:7px;
    margin-right:7px;
    border-radius:2px;
    overflow: hidden;
    box-shadow: 0px 1px 5px #ddd;
}
.search_bottom_section ul li a{
    float:left;
    width: 100%;
    padding-left: 36px;
    padding-right: 15px;
    line-height: 50px;
    background-color: #fff;
    color: #435469;
    font-size: 16px;
    font-family: OpenSans_Semibold;
    background-image: url('../images/search_link.jpg');
    background-repeat: no-repeat;
    background-position: 12px;

}
/* search ends */
.swiper-pagination-bullet{
    width: 35px !important;
    height: 4px !important;
    border-radius:0px !important;
}
.swiper-pagination-bullet-active{
    background: #f1763a !important;
}



/* css for about us page */
.about_page_outer{
    background-color:#f5f5f5;
}
.about_us_banner{
    min-height:260px;
    position:relative;
    background-image:url('../images/left_cat4.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.banner_overlay{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index:1;
}
.about_content_section{
    max-width:1045px;
    background-color:#fff;
    position:relative;
    z-index:1;
    margin-top:-35px;
    margin-bottom:70px;
    border-radius:6px;
}
.about_page_sections{
    padding:45px;
}
.about_us_pageheading{
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    font-family: OpenSans_Bold;
    font-size: 60px;
    letter-spacing: .5px;
    margin-top: 80px;
    margin-bottom: 0px;
}
.about_page_text{
    font-size:16px;
    line-height:26px;
}
.about_our_mission{
    background-color:#536177;
}
.about_our_mission .about_page_text{
    color:#fff;
}
.about_our_mission .home_section_heading{
    color:#fff;
}
.founder_name{
    font-size:30px;
    color:#373737;
    font-family: OpenSans_Semibold;
}
.founder_designation{
    font-size: 18px;
    color: #373737;
    font-family: OpenSans;
    font-style: italic;
}
.seprator_colored_line{
    margin-bottom:0px;
}
.seprator_colored_line span{
    display:inline-block;
    width:70px;
    height:4px;
    background-color:#f07336;
    margin-bottom:10px;
}
.founder_last_section{
    margin-top:30px;
    padding-top:40px;
    border-top:3px solid #f5f5f5;
}
.about_form_outer{
    padding-top:50px;
    padding-bottom:50px;
    background-color:#ff6f34;
}
.about_form_outer h3{
    color:#fff;
    margin-bottom:35px;
}
.about_form_outer input{
    display: inline-block;
    border: 1px solid #fff;
    box-shadow: none;
    height: 42px;
    width: 285px;
    font-size: 16px;
    letter-spacing: .3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    outline:none;
    margin-right:20px;
}
.about_form_outer .form-control:focus{
    border-color:#fff;
    box-shadow:none;
}
.about_form_outer  button, .about_form_outer  button:hover, .about_form_outer  button:active, .about_form_outer  button:focus{
    background-color:#2f3942 !important;
    color:#fff !important;
    font-size:16px;
    letter-spacing:.3px;
    display: inline-block;
    border: 1px solid #2f3942 !important;
    box-shadow: none;
    height: 42px;
    width: 175px;
    border-radius: 6px;
    outline:none;
}
/* css for about us page ends */

/* event page css */
.event_top_slider{
}
.event_top_slider img{
    width:100%;
    height:auto;
}
.event_top_slider .swiper-button-prev{
    height:20px;
    background-image: url('../images/left_arrow.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.event_top_slider .swiper-button-next{
    height:20px;
    background-image: url('../images/right_arrow.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.event_content_section_outer{
    max-width:1140px;
    position:relative;
    z-index:1;
    margin-top:30px;
}
.event_organiser_pic{
    float:left;
    margin-right:20px;
    margin-bottom:10px;
    max-width:135px;
}
.event_inner_section{
    display:inline-block;
    width:100%;
    background-color:#fff;
    padding:40px;
    margin-bottom:30px;
    border-radius:4px;
}
.event_inner_section h1, .event_inner_section h3{
    font-size:28px;
    text-transform: inherit;
    margin-bottom:30px;
}
.event_inner_section .founder_name{
    font-size:24px;
    margin-bottom:0px;
}
.event_inner_section .founder_designation{
    font-size:18px;
    margin-bottom:15px;
    font-style:normal;
}
.event_white_bg{
    background-color:#fff;
    padding:25px 20px;
    border-radius: 0px 0px 4px 4px;
}
.event_filled_bg{
    padding:25px 20px;
    background-color:#ff6f34;
    border-radius: 4px 4px 0px 0px;
}
.event_right_top_inner img{
    max-width:100%;
}
.event_right_top_inner h4{
    font-size:21px;
    font-family: OpenSans_Bold;
    color:#fff;
    letter-spacing:.3px;
    margin-top:0px;
}
.event_right_top_inner p{
    font-size:14px;
    color:#fff;
    letter-spacing:.3px;
    margin-bottom:0px;
}
.event_right_bottom_inner{
    background-color:#fff;
    padding:15px 20px;
    border-radius:4px;
    margin-top:30px;
}
.event_right_bottom_inner h5{
    font-size:18px;
    color:#ff6f34;
    font-family: OpenSans_Semibold;
    letter-spacing:.3px;
    margin-top:0px;
}
.event_right_bottom_inner p{
    margin-bottom:15px;
    font-size:14px;
}
.event_text{
    font-size: 15px;
    /* letter-spacing: .3px; */
    line-height: 24px;
}

.event_page_latest_list{
    background-color:#fff;
    padding-top:30px;
    padding-bottom:30px;
    margin-top:25px;
}
.event_page_latest_list .container{
    max-width:1000px;
}
.event_page_latest_list .uc_event_date{
    font-family: OpenSans;
}
.event_page_latest_list .uc_event_link a{
    color:#fff;
    background-color:#444444;
}
.event_page_latest_list .uc_event_link a:hover{
    background-color:#f1763a;
}
.event_page_latest_list .upcoming_item_info{
    background-color:#f5f5f5;
}
.event_page_latest_list .upcoming_item_container{
    border:1px solid #eae8e8;
    box-shadow:none;
}
.event_page_ads{
    padding:0px;
    border-radius:0px;
}
.event_near_by_festivals a{
    display: inline-block;
    width: auto;
    margin-right: 0px;
    color: #4A4A4A;
    margin-bottom: 5px;
    font-size: 13px;
    letter-spacing: 0PX;
    border: 1px solid #999;
    border-radius: 2px;
    line-height: 24px;
    padding-left: 5px;
    padding-right: 5px;
}
.event_near_by_festivals, .event_social_links{
    margin-bottom:0px !important;
}
.event_near_by_festivals a:hover{
    background-color:#ff6f34;
    border:1px solid #ff6f34;
    color:#fff;
}
.event_social_links a{
    display:inline-block;
    margin-right:10px;
    transition: all 0.3s ease;
}
.event_social_links a:hover{
    transform:rotate(360deg);
}
.rating-container .caption,
.rating-container .clear-rating
{
    display:none !important;
}
.rating-container .star,
.rating-md
{
    font-size:26px !important;
}
.event_follow_ul{
    margin:0;
    padding:0;
}
.event_follow_ul li{
    list-style:none;
    display:inline-block;
    width:auto;
    margin-right:20px;
}
.event_follow_ul li a{
    font-family: OpenSans_Semibold;
    font-size: 16px;
    letter-spacing: .3px;
    color: #fff;
}
.event_follow_ul li img{
    width:32px;
    margin-right:5px;
}
.event_follow_ul li .follow_btn{
    border:1px solid transparent;
    outline:none;
    box-shadow:none;
    background-color:transparent;
    font-family: OpenSans_Semibold;
    font-size: 16px;
    letter-spacing: .3px;
    color: #fff;
}

/* event page css ends */

/* event 2 page */
.event_2_container{
    max-width:1140px;
}
.event_2_container .upcoming_events_items {
    padding-left: 10px;
    padding-right: 10px;
}
.event_top_bg_section{
    position:relative;
    height:550px;
    background-color:#f5f5f5;
    background-image:url('../images/top_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.event_top_bg_section .event_2_container{
    height:550px;
    position:relative;
}

.event1_top_bg_section{
    position:relative;
    height:450px;
    background-color:#f5f5f5;
    background-image:url('../images/top_bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.event1_top_bg_section .event_2_container{
    height:450px;
    position:relative;
}

.event2_spearkers_outer{
    display:inline-block;
    width:100%;
    margin-bottom:25px;
}
.event2_spearkers_outer  .event_organiser_pic{
    max-width:170px;
}
.event2_content_section_outer{

    position: relative;
    z-index: 1;
    margin-top: -60px;
}
.event_topbanner_info{
    color: #ffffff;
    position: absolute;
    width: auto;
    left: 15px;
    bottom: 15px;
}
.event_topbanner_info h3{
    font-family: OpenSans_Bold;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.event_topbanner_info .event_topbanner_info_text{
    font-family: OpenSans_Semibold;
    font-size: 16px;
    letter-spacing:.3px;
}
.event_topbanner_info .event_topbanner_info_link a{
    color: #fff;
    display: inline-block;
    width: 175px;
    line-height: 48px;
    background-color: #ff6f34;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: OpenSans_Semibold;
    letter-spacing: .5px;
    text-decoration: none !important;
    margin-top:20px;
    border:1px solid #ff6f34 !important;
}
.event_schedule_tabs{
    border-bottom:1px solid #f5f5f5;
}
.event_schedule_tabs.nav-tabs>li>a{
    text-align: center;
    font-size: 14px;
    color: #121212;
    font-family: OpenSans_Semibold;
    letter-spacing: .3px;
    margin-right:8px;
    background-color:#f5f5f5;
}
.event_schedule_tabs.nav-tabs>li.active>a{
    background-color:#fff !important;
}
.event_schedule_tabs.nav-tabs>li.active>a, .event_schedule_tabs.nav-tabs>li.active>a:focus, .event_schedule_tabs.nav-tabs>li.active>a:hover{
    border-color:#f5f5f5;
    border-bottom-color: #fff;
}
.event_schedule_tabs.nav-tabs>li>a span{
    font-size: 12px;
    color: #999;
    font-family: OpenSans_Semibold;
}
.event_schedule_tabs_content{
    border: 1px solid #f5f5f5;
    border-top: none;
}
.event_schedule_tabs_content ul{
    padding:0;
    margin:0;
}
.event_schedule_tabs_content ul li{
    list-style:none;
    border-bottom:1px solid #f5f5f5;
    padding:18px 25px;
    font-family: OpenSans_Semibold;
    font-size:15px;
    letter-spacing:.3px;
    color:#4a4a4a;
}
.event_schedule_tabs_content ul li:last-child{
    border-bottom:none;
}
.event_schedule_tabs_content ul li .sec_left_section{
    display:inline-block;
    width:18%;
    color:#f07336;
}
.event_schedule_tabs_content ul li .sec_right_section{
    display:inline-block;
    width:80%;

}
/* event 2 page ends */

/* listing page css */
.listing_page_width{
    /*max-width:1120px;*/
}
.listing_page_top_section{
    padding-top:30px;
    padding-bottom:30px;
}
.listing_page_top_section h1{
    text-transform:inherit;
}
.listing_page_top_section form input{
    display:inline-block;
    width:520px;
    height:40px;
    border-radius:4px;
    border:1px solid #fff;
    outline:none;
    box-shadow:none;
    background-image: url(../images/event_icon.jpg);
    background-repeat: no-repeat;
    background-position: 12px;
    padding-left: 45px;
}
.listing_top_banner{
    margin-top:30px;
}
.listing_top_banner img{
    width:100%;
    height:auto;
}
.listing_page_list_outer{
    margin-bottom:30px;
}
.listing_page_list_outer ul{
    padding:0;
    margin:0;
    float:left;
    width:100%;
}
.listing_page_list_outer ul li{
    list-style:none;
    float:left;
}
.listing_page_sidebar{
    width:20%;
}
.listing_left_sidebar_inner{
    background-color:#fff;
    float:left;
    width:100%;
    border-radius:4px;
    overflow:hidden;
    margin-bottom:20px;
    padding-left:15px;
    padding-right:15px;
}
.listing_page_mid_section{
    width:60%;
    margin-left:1.5%;
    margin-right:1.5%;
}
.listing_page_right_sidebar{
    width:17%;
    background-color:#fff;
}
.listing_page_right_sidebar img{
    width:100%;
    height:auto;
}
.listing_page_mid_section_outer{
    float:left;
    width:100%;
    background-color:#fff;
    margin-bottom:18px;
    border-radius:4px;
    overflow:hidden;
    transition: 0.3s;
}
.listing_page_mid_section_outer:hover{
    transform:scale(1.02);
}
.listing_page_mid_section_left{
    float:left;
    width:39%;
    min-height:230px;
    /*background-image:url('../images/left_cat2.jpg');*/
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
}
.listing_page_mid_section_left a{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    bottom:0;
}
.listing_page_mid_section_right{
    float:left;
    width:61%;
    min-height:230px;
    padding:15px;
}
.listing_mid_category_date span{
    display:inline-block;
    width:49%;
}
.listing_mid_category_date span, .listing_mid_category_date a{
    color:#ef7336;
    font-size:14px;
}
.listing_mid_category_span1{
    background-image: url('../images/search_link.jpg');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
}
.listing_mid_category_span1:hover{
    color:#333333;
}
.listing_page_mid_section_right h3{
    font-size:18px;
    font-family: OpenSans_Semibold;
}
.listing_page_mid_section_right h3 a{
    color:#333333;
}
.listing_page_mid_section_right h3 a:hover{
    color:#ef7336;
}
.listing_mid_category_info{
    font-size:14px;
    color:#888888;
}
.listing_mid_category_link{
    text-align:right;
}
.listing_mid_category_link a{
    font-size: 14px;
    font-family: OpenSans_SemiBold;
    display: inline-block;
    width: 100px;
    line-height: 30px;
    border: 1px solid #444444;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    background-color: #444444;
    margin-top:10px;
}
.listing_mid_category_link a:hover{
    background-color:#ef7336;
    border-color:#ef7336;
}
.list_pager_outer ul{
    float:none;
    width:auto;
}
.list_pager_outer .pagination>.active>a, .list_pager_outer .pagination>.active>a:focus, .list_pager_outer .pagination>.active>a:hover, .list_pager_outer .pagination>.active>span, .list_pager_outer .pagination>.active>span:focus, .list_pager_outer .pagination>.active>span:hover {
    border-color:#333333;
    background-color:#333333;
}

.location_filter_sidebar{
    border:1px solid #fff;
    outline:none;
    box-shadow:none;
    width:100%;
    height:40px;
    font-size:14px;
    font-family: OpenSans_SemiBold;
    color:#4e4e4e;
    padding-right:15px;
    background-image:url('../images/loc_filter.jpg');
    background-repeat:no-repeat;
    background-position:right;
}
.list_filter_spacing{
    padding-top:20px;
    padding-bottom:20px;
}
.listing_left_sidebar_inner h4{
    font-size:16px;
    color:#333;
    font-family: OpenSans_Bold;
    margin-bottom:15px;
    margin-top:0px;
}
.listing_left_sidebar_inner ul li{
    width:100%;
}
.listing_left_sidebar_inner ul li label{
    font-size:14px;
    color:#4e4e4e;
    font-family: OpenSans_SemiBold;
    cursor:pointer;
    letter-spacing:.3px;
    font-weight:normal;

}

.custom_date_search_form{
    margin-top:15px;
    display:none;
}
.custom_date_search_form input{
    width:100%;
    border:1px solid #ddd;
    border-radius:4px;
    outline:none;
    box-shadow:none;
    height:35px;
    padding-left:10px;
    margin-bottom:10px;
    padding-right:35px;
    background-image: url('../images/date_icon.jpg');
    background-repeat: no-repeat;
    background-position: 96%;
}
.custom_date_search_form button{
    width:100%;
    border:1px solid #ed6f33;
    border-radius:4px;
    outline:none;
    box-shadow:none;
    height:35px;
    color:#fff;
    text-align:center;
    background-color:#ed6f33;
    margin-top:10px;
    font-family: OpenSans_SemiBold;
}
.category_sub_outer{
    padding-left:20px !important;
    position:relative;
    height:0px;
    visibility:hidden;
}
.sub_category_dropdown{

}
.sub_category_dropdown_active{
    height:auto;
    visibility:visible;
}
.mobile_filter_btn{
    width: auto;
    height: 44px;
    background-color: transparent;
    border-color: transparent;
    padding: 5px;
    outline: none;
    box-shadow: none;
}
.mobile_filter_btn img{
    width:24px;
    height:auto;
}
.mobile_filter_btn {
    width: 120px;
    height: 44px;
    background-color: #ddd;
    border: 1px solid #ddd;
    padding: 5px;
    outline: none;
    box-shadow: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: OpenSans_Semibold;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: 30px;
}
.moblie_filter_overlay, .moblie_header_overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 9;
    display:none;
}
.mobile_filter_btn_outer{
    display:none;
}
.body_overflow{
    overflow:hidden;
}
/* listing page css ends */

/* thankyou page css */
.thankyou_content_outer{
    position:relative;
    margin-top:-60px;
    margin-bottom:30px;
}
.thankyou_content_outer .thankyou_items{
    background-color:#fff;
    border-radius:4px;
    padding:30px 15px;
    margin-bottom:30px;
}
.thankyou_content_outer .thankyou_msg_section h1{
    text-transform: inherit;
    margin-bottom: 25px;
}
.thankyou_content_outer .thankyou_msg_section p, .thankyou_subtext{
    font-size: 18px;
    color: #373737;
    margin-bottom:0px;
}
.thankyou_content_outer .thankyou_subheading{
    margin-top:30px;
    text-transform:inherit;
}
/* thnakyou page css ends */

.mobile_user_section, .mobile_nav_section{
    display:none;
}



/* ---------------------------------------- responsive css ------------------------------------- */
@media(max-width:1190px){

    /* home page */
    .search_bottom_section ul li a{
        font-size:14px;
    }
    .footer_logo{
        max-width:100%;
    }
    .company_info_footer{
        padding-right:inherit;
    }

    /* home page ends */

    /* event page */
    .event_social_links a{
        margin-bottom:10px;
    }
    .event_schedule_tabs.nav-tabs > li > a {
        font-size: 12px;
        letter-spacing: .3px;
        margin-right: 5px;
        padding: 10px;
    }
    .event_schedule_tabs_content ul li{
        font-size:14px;
    }
    .event_schedule_tabs_content ul li .sec_left_section,
    .event_schedule_tabs_content ul li .sec_right_section
    {
        width:100%;
    }
    /* event page ends */

}

@media(max-width:1000px){
    .container{
        width:100%;
        /*border:1px solid red;*/
    }
    /* home page */
    .header_navigation li a{
        font-size:16px;
        margin-left: 10px;
    }
    .home_search_outer form{
        padding:20px;
    }
    .home_search_outer{
        max-width:98%;
        margin-top:-82px;
    }
    .search_bottom_section ul li{
        margin-left:2px;
        margin-right:2px;
    }
    .search_bottom_section ul li a{
        line-height:40px;
    }
    .home_search_outer .frm_event_name input,
    .home_search_outer .frm_date input,
    .home_search_outer .frm_location input,
    .home_search_outer .frm_button, .home_search_outer .frm_button:hover, .home_search_outer .frm_button:active, .home_search_outer .frm_button:focus
    {
        font-size:16px;
    }
    .home_section_heading{
        font-size:24px;
    }
    .uc_event_name a{
        font-size:15px;
    }
    .uc_event_date{
        font-size:13px;
    }
    .home_storeis_outer .media-body p, .home_storeis_outer .media-heading span, .home_storeis_outer .media-heading{
        font-size:13px;
    }
    .cat_right_item2,
    .cat_right_item1,
    .cat_left_item
    {
        font-size:20px;
    }
    .home_newsletter h3{
        font-size:26px;
        top:-8px;
    }
    .footer_headings{
        font-size:16px;
    }
    .company_info_footer{
        padding-right:0px;
        font-size:14px;
    }
    .footer ul li a{
        font-size:14px;
    }
    .footer ul li a br{
        display:none;
    }
    .footer .container-fluid p{
        font-size:14px;
    }
    /* home page ends */

    /* about us page */
    .about_us_pageheading{
        font-size:40px;
    }
    .about_content_section{
        max-width:96%;
        border-radius: 2px;
    }
    .about_page_sections {
        padding: 30px 20px;
    }

    /* about us page ends */

    /* event page */
    .event1_top_bg_section .event_2_container,
    .event1_top_bg_section
    {
        height: 350px;
    }
    .event_schedule_tabs.nav-tabs > li > a{
        margin-top:10px;
    }
    /* event page ends*/

    /* thankyou page */
    .thankyou_content_outer{
        max-width:96%;
    }
    .thankyou_content_outer .thankyou_msg_section p, .thankyou_subtext{
        font-size:15px;
    }

    /* thankyou page ends */

    /* listing page */
    .listing_page_right_sidebar{
        display:none;
    }
    .listing_page_sidebar{
        width:30%;
    }
    .listing_page_mid_section{
        width:67%;
    }
    .listing_mid_category_date span, .listing_mid_category_date a{
        font-size:12px;
    }
    .listing_page_mid_section_right h3{
        margin-top:5px;
    }
    .listing_mid_category_link{
        margin-bottom:0px;
    }
    .listing_mid_category_link a{
        font-size:13px;
    }
    /* listing ends */


}

@media(max-width:767px){
    /* home page */
    .nav_desktop{
        display: block;
        position: fixed;
        top: 0;
        left: -310px;
        width: 300px;
        bottom: 0;
        height: 100%;
        background-color: #fff;
        z-index: 99;
        border-right:1px solid #ddd;
    }
    .m_hide{
        display:none;
    }
    .header_navigation{
        margin-top:70px;
    }
    .header_navigation li{
        width:100%;
        margin-bottom:5px;
    }
    .mobile_user_section, .mobile_nav_section{
        display:block;
    }
    .mobile_user_section button{
        width: 44px;
        height: 44px;
        padding: 0px;
        background-color: #fff;
        border: 1px solid #fff;
        outline: none;
        box-shadow: none;
        margin-top: 8px;
        text-align: center;
        padding: 8px;
    }
    .mobile_nav_section button{
        width: 44px;
        height: 44px;
        padding: 0px;
        background-color: #fff;
        border: 1px solid #fff;
        outline: none;
        box-shadow: none;
        margin-top: 8px;
        text-align: center;
        padding: 5px;
    }
    .header {
        height: 60px;
        background-color: #fff;
        box-shadow: 0px 0px 5px #ddd;
        margin-bottom: 0px;
        position: relative;
    }
    .header-logo-outer{
        text-align:center;
    }
    .header .logo{
        width:100%;
        max-width:220px;
        margin-top:12px;
    }



    .f_padding_right {
        padding-right: 15px;
    }
    .home_search_outer{
        margin-top:-35px;
    }
    .home_search_outer form {
        padding: 15px 0px;
    }
    .home_search_outer .frm_event_name,
    .home_search_outer .frm_location,
    .home_search_outer .frm_date,
    .home_search_outer .frm_button, .home_search_outer .frm_button:hover, .home_search_outer .frm_button:active, .home_search_outer .frm_button:focus
    {
        width:100%;
        padding:0px;
    }
    .search_bottom_section ul {
        margin: 0px;
        padding: 15px 0px;
    }
    .search_bottom_section ul li a{
        font-size:13px;
        line-height:38px;
    }
    .home_section_heading {
        font-size: 20px;
    }
    .upcoming_item_container{
        margin-bottom:15px;
    }
    .cat_right_item2, .cat_right_item1, .cat_left_item{
        margin-bottom:15px;
        min-height:150px;
        font-size:22px;
    }
    .cat_right_item1 p, .cat_right_item2 p{
        margin-top:40px;
    }
    .cat_left_item p{
        margin-top:55px;
    }
    .home_seeall_cat_link{
        line-height:40px;
        font-size:15px;
    }
    .home_more_button a {
        width: 45%;
        line-height: 40px;
        font-size: 15px;
        margin-left: 7px;
        margin-right: 7px;
    }
    .home_newsletter {
        padding-top: 25px;
        padding-bottom: 35px;
    }
    .home_newsletter h3 {
        font-size: 20px;
        top: 0px;
        margin-bottom: 15px;
        text-align: center;
    }
    .home_newsletter small{
        font-size:14px;
    }
    .home_newsletter .input-group .form-control,
    .home_newsletter .input-group .btn
    {
        height: 44px;
        font-size:16px;
    }
    .footer .container{
        margin-top:25px;
        margin-bottom:25px;
    }
    .footer_logo{
        width:100%;
        max-width:220px;
    }
    .company_info_footer{
        margin-top:15px;
        font-size:16px;
    }
    .footer_headings {
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .footer ul li a{
        font-size:16px;
    }
    .footer_address li {
        padding-left: 35px;
        background-size: 24px;
    }
    .footer_address li{
        margin-bottom:10px;
    }
    .home_storeis_outer .media-body p, .home_storeis_outer .media-heading span, .home_storeis_outer .media-heading{
        font-size:14px;
    }
    /* home page ends */

    /* about us page */
    .about_us_banner{
        min-height:180px;
    }
    .about_us_pageheading {
        font-size: 34px;
        margin-top:50px;
    }
    .about_page_sections {
        padding: 25px 0px;
    }
    .about_page_text{
        font-size:15px;
    }
    .about_page_sections .heading_seprator {
        margin-bottom:0px;
    }
    .founder_last_section .text-right{
        text-align:left !important;
    }
    .founder_name{
        font-size:18px;
        margin-bottom:0px;
    }
    .founder_designation{
        font-size:13px;
    }
    .about_form_outer input,
    .about_form_outer button, .about_form_outer button:hover, .about_form_outer button:active, .about_form_outer button:focus
    {
        width:100%;
    }
    /* about us page ends */


    /* event page */
    .event_topbanner_info h3{
        font-size:22px;
    }
    .event_topbanner_info .event_topbanner_info_text {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .rating-container .star, .rating-md {
        font-size: 20px !important;
    }
    .event_follow_ul li{
        margin-right:10px;
    }
    .event_follow_ul li img {
        width: 20px;
    }
    .event_follow_ul li a,
    .event_follow_ul li .follow_btn
    {
        font-size:14px;
    }
    .event1_top_bg_section .event_2_container, .event1_top_bg_section{
        height:300px;
    }
    .event_inner_section{
        padding:20px 15px;
    }
    .event_inner_section h1, .event_inner_section h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .event2_spearkers_outer .event_organiser_pic{
        max-width:60px;
        margin-right:10px;
    }
    .event_inner_section .founder_name{
        font-size:18px;
    }
    .event_inner_section .founder_designation {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .event_page_ads img{
        width:100%;
        height:auto;
    }

    .thankyou_content_outer .thankyou_items{
        padding:20px 0px;
    }

    /* event page ends */

    /* listing page */
    .listing_page_top_section form input{
        width:100%;
    }

    .listing_page_mid_section{
        width:100%;
        margin-left:0px;
        margin-right:0px;
    }
    .listing_page_mid_section_left{
        width:100%;
        min-height:150px;
    }
    .listing_page_mid_section_right {
        width: 100%;
        min-height: auto;
    }
    .listing_mid_category_link{
        text-align:left;
    }
    .mobile_filter_btn_outer{
        display:block;
    }
    .listing_page_sidebar {
        position: fixed;
        top: 0;
        left: -310px;
        z-index: 99;
        background-color: #f5f5f5;
        width: 300px;
        padding: 20px;
        overflow: auto;
        height: 100%;
        overflow-y: auto;
    }
    .listing_page_sidebar_active{
        left:0;
    }

    /* listing page ends */



}

/* ---------------------------------------- responsive css ends -------------------------------*/




